#!/usr/bin/env python 
# -*- coding: utf-8 -*-

# Configuration settings
rhizomatica_dir = '/var/rhizomatica'
sq_hlr_path = '/var/lib/osmocom/hlr.sqlite3'

# database
pgsql_db = 'rhizomatica'
pgsql_user = 'rhizomatica'
pgsql_pwd = 'yourpwd'
pgsql_host = 'localhost'

# SITE
site_name = "Test"
postcode = "12345"
pbxcode = "1"
network_name = "TestNetwork"
vpn_ip_address = "10.66.0.14"
wan_ip_address = "192.168.1.99"

# SITE settings
# rate type can be "call" or "min"
limit_local_calls = 1    
limit_local_minutes = 5  
charge_local_calls = 0   
charge_local_rate = ""   
charge_local_rate_type = ""
charge_internal_calls = 0  
charge_internal_rate = ""  
charge_internal_rate_type = ""
charge_inbound_calls = 0
charge_inbound_rate = ""          
charge_inbound_rate_type = ""      
smsc_shortcode = "10000"
sms_sender_unauthorized = 'Tu usuario no está autorizado en esta red. Por favor registre su teléfono.'
sms_destination_unauthorized = 'Este usuario no se ha registrado. Él no va a recibir su mensaje.'
sms_welcome_roaming = 'Bienvenido a la red de telefonia movil comunitaria de %s. Ya puedes realizar llamadas y enviar mensajes.' % site_name
sms_credit_added = 'La cantidad de %s pesos fue abonado con exito a su cuenta. Su balance actual es %s pesos'

# web administration
rai_admin_user = "admin"
rai_admin_pwd = 'adminpwd'

kannel_server = '127.0.0.1'
kannel_port = 14002
kannel_username = 'rhizomatica'
kannel_password = 'yourpwd'

# VOIP provider
voip_provider_name = "provider"
voip_username = "1234567890"
voip_fromuser = "1234567890"
voip_password = "NewPass"
voip_proxy = "1.1.1.1"
voip_did = "1234567890"
voip_cli = "525512345678"

# Subscription SMS notification
notice_msg = 'Favor de pagar su cooperacion mensual de 30 pesos. Gracias.' 
reminder_msg = 'Recuerda: su servicio sera desactivado si no paga su cuota antes del 7 de cada mes. Gracias.' 
deactivate_msg = 'Su servicio ha sido desactivado hasta que haga su cooperacion mensual.'

# Emergency number
emergency_contact = "12345678901"
